body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.4;
}

.main {
  display: grid;
  min-height: 100vh;
  grid-template-columns: auto;
}

.offsite-container {
  background-color: hsl(206, 49%, 15%);
  color: hsl(202, 28%, 65%);
  display: none;
}
.category {
  padding-top: 1rem;
  display: flex;
  font-size: 1.2rem;
  flex-direction: column;
  gap: 1rem;
}
.category a {
  padding: 0.5rem 1rem;
}
.category a:hover {
  background-color: hsl(200, 100%, 4%);
  cursor: pointer;
  color: hsl(0, 0%, 100%);
}

.site-container {
  background-color: hsl(169, 59%, 49%);
  padding: 3rem;
}
.site-container h1 {
  color: hsl(206, 49%, 15%);
  margin-bottom: 2rem;
  font-weight: 500;
}
button {
  color: hsl(206, 49%, 15%);
  border: 2px solid hsl(206, 49%, 15%);
}

button:is(:hover, :focus) {
  background-color: hsl(206, 49%, 15%);
  color: hsl(169, 59%, 49%);
  cursor: pointer;
}

.cols-2 {
  grid-template-columns: 200px auto;
}

.hidden {
  display: block;
}
